@font-face {
  font-family: "TT Norms Pro Regular";
  src: url(./assets/fonts/TT\ Norms\ Pro\ Regular.otf);
}
@font-face {
  font-family: "TT Norms Pro Bold";
  src: url(./assets/fonts/TT\ Norms\ Pro\ Bold.otf);
}
